:root {
    /* Define color variables */
    /* Dark Mode*/
    --background-color: #1D1D1D; /*Dark Blue*/
    --purple-color: #3F3381; /*Purple*/
}

body {
    font-family: 'Monospace', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: white;
}

/*Navigation Bar*/
.navbar {
    position: sticky;
    padding: 20px;
    top: 0;
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*ITprojects.html*/
.header-image {
    width: 100%;
    height: auto;
}

.IT_header {
    text-align: center;
    margin: 20px 0;
}

.logo {
    width: auto;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
}

.about-me {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    color: black;
    border-radius: 10px;
}

.about-me h1 {
    margin-top: 0;
    background-color: var(--background-color);
    color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
}

.ITprojects {
    margin:0;
    padding: 20px;
    background-color: #f0f0f0;
    color: black;
    border-radius: 10px;
}