body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20;
}

/*Navigation Bar*/
.navbar {
    position: sticky;
    padding: 20px;
    top: 0;
    background-color: ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*ITprojects.html*/
