<button class="moon-button hidden" id="menuBtn">⏾</button>

<!--Menu Overlay-->
<div class="overlay" id="overlay"></div>

<!--Popup Menu-->
<div class="popup-menu" id="popupMenu">
    <nav class="Menu-List">
        <a href="Home.html">Home</a>
        <a href="Blog.html">Blog</a>
        <a href="ITprojects.html">IT Projects</a>
        <a href="Achievement.html">Achievements</a>
        <a href="Gallery.html">Gallery</a>
        <a href="Contact.html">Contact</a>
    </nav>
</div>

<!--Nav tabs-->
        <div id="tabMarker"></div>
        <nav class="tabs">
            <a class="tab" href="Home.html">Home</a>
            <a class="tab" href="Blog.html">Blog</a>
            <a class="tab active" href="ITprojects.html">IT Projects</a>
            <a class="tab" href="Achievement.html">Achievements</a>
            <a class="tab" href="Gallery.html">Gallery</a>
            <a class="tab" href="Contact.html">Contact</a>
        </nav>